
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MenuViewModel>
@section HeadScripts{

    <link href="~/lib/treegrid/css/jquery.treegrid.css" rel="stylesheet" />
    <script src="~/lib/treegrid/js/jquery.treegrid.min.js"></script>

}



<table class="tree layui-table" lay-size="sm">

    <thead>
        <tr>
            <th>页面标题</th>
            <th width="220px">操作</th>
            <th width="25px">Id</th>
            <th>链接</th>
            <th width="25px">序号</th>
            <th>页面功能</th>
        </tr>
    </thead>
    @foreach (var vm in Model)
    {


        <tr class="@(vm.ParentId > 0 ? $"treegrid-{vm.PageId} treegrid-parent-{vm.ParentId}" : $"treegrid-{vm.PageId}")">
            <td>
                @if (vm.IsFunPage)
                {
                    <span class="layui-btn layui-btn-xs layui-btn-primary">
                        @vm.PageTitle
                        <i class="fa fa-cogs" aria-hidden="true" style="color:#1e9fff;" title="页面内嵌功能链接"></i>
                    </span>
                }
                else
                {

                    @vm.PageTitle
                    if ((vm.Funs != null && vm.Funs.Any()) || (!vm.HasChirldPageUrl))
                    {
                        <i class="fa fa-file-o" aria-hidden="true" style="color:#1e9fff;" title="主页面链接"></i>

                    }

                }

            </td>


            <td>
                @{
                    if (!vm.IsFunPage)
                    {
                        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="add" onclick="pagefunction.editMenu(0, @vm.PageId,'新增子菜单')"><i class="layui-icon">&#xe642;</i>新增子菜单</a>

                    }

                }

                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit" onclick="pagefunction.editMenu(@vm.PageId,@vm.ParentId,'编辑菜单')"><i class="layui-icon">&#xe642;</i>编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" onclick="pagefunction.deleteMenu(@vm.PageId)"><i class="layui-icon">&#xe640;</i>删除</a>

            </td>
            <td>@vm.PageId</td>
            <td>@vm.PageUrl</td>
            <td>@vm.PageSortNum</td>
            <td>
                @if (vm.Funs != null && vm.Funs.Any())
                {
                    foreach (var fn in vm.Funs)
                    {

                        <span style="border:1px solid #c4bebe; padding:2px; margin-right:3px;">
                            @fn.FunName
                            @if (fn.IsFunMenuStatus)
                            {

                                <i class="fa fa-cogs" aria-hidden="true" title="页面内嵌功能链接"></i>

                            }
                        </span>

                    }



                }

            </td>
        </tr>

    }


</table>
@section BottomScripts{
    <script>
        $('.tree').treegrid({
            //expanderTemplate:'<span class =“treegrid-expander”> </span>'
            expanderExpandedClass: 'fa fa-folder-open-o',
            expanderCollapsedClass: 'fa fa-folder',
            //'initialState': 'collapsed',


        });

        var pagefunction = {
            editMenu: function (pageid, parentId, title) {
                layer.open({
                    type: 2 //你可以title: ['文本', 'font-size:18px;']，数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                    , title: [title, 'font-size:18px']
                    , content: '/Menu/Edit?PageId=' + pageid + '&ParentId=' + parentId
                    , area: ['800px', '600px']
                    , resize: false//是否可以拉伸
                    //右上角关闭回调
                    , cancel: function (index, layero) {
                        pagefunction.cancel = true;
                    }
                    , end: function () {
                        if (pagefunction.cancel) {
                            pagefunction.cancel = false;
                        }
                        else {
                            window.location.reload();

                        }

                    }
                    , closeBtn: 2
                    , btnAlign: 'c' //居中


                });

            },
            deleteMenu: function (pageid) {
                layer.confirm("您确定删除吗？", { icon: 3, title: '提示' }, function (index) {

                    //向服务端发送删除指令
                    $.post('/Menu/Delete', {
                        "PageId": pageid

                    }, function (rd) {
                        if (rd.status == 1) {

                            layer.close(index); //关闭对话框
                            window.location.reload();
                        }
                        else {
                            layer.alert('操作失败！', { icon: 5 });

                        }

                    }, "json");
                });

            }

        };



    </script>


}
